.layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.sidebarContainer{
    width: var(--sidebar-width);
    flex-shrink: 0;
}

.topbarContainer{
    height: var(--topbar-height);
}

.content-area{
    display:flex;
    flex: 1;
    flex-direction: column;

    overflow: hidden;
}